extend ../layout.pug

block content
  .card.mb-3(style='max-width: 540px;')
  .row.no-gutters
   each topic in topics
    .col-md-3
      img.card-img(src=topic.image alt=topic.title)
    .col-md-9
      .card-body
        h5.card-title=topic.title
        p.card-text=topic.content
        p.card-text
          small.text-muted Last updated #{topic.times} mins ago
  .card.mb-3(style='max-width: 540px;')