extend ./layout.pug

block content
  .container
    .row
      .col-sm-1
      .col-sm-8.custombackground
        .row
          .col-sm-7.text-center 
            h5 Title                
          .col-sm-3.text-left 
            h5 Author       
          .col-sm-2.text-right
            a.btn.btn-primary(href='/admin/create') Post
        each topic in topics
          a(href='/chat/'+ topic.id style='text-decoration: none')
              .card.mb-3(style='max-width: 640px;')
                .row.no-gutters 
                    .col-md-3
                        img.card-img(src=topic.image alt=topic.title)
                    .col-md-7
                      .card-body
                        h5.card-title=topic.title
                        p.card-text
                          small.text-muted Last updated #{topic.updatedAt}
                    .col-md-2
                        h5 #{topic.author.username}
      .col-sm-3.test
        .row
          .col-sm
            .card
              .card-body
                if user
                  img.rounded-circle(src=user.avatar alt=user.username width='100' height='80')
                  h5.card-title #{user.username}
                  p.card-text Blogs:
                  a.btn.btn-primary.float-right(href='/logout') Logout   
                else
                  a.btn.btn-primary(href='/signIn') SignIn
                  a.btn.btn-primary.float-right(href='/signUp') SignUp
        .row
          .col-sm
                .card.bg-light.mb-3(style='max-width: 18rem;')
                  .card-header Pets for Adoption
                  .card-body
                    p.card-text
                      a.d-block(href='https://spca.bc.ca/locations/vancouver/') BCSPCA
                      a.d-block(href='https://www.kijiji.ca/b-dogs-puppies/vancouver/c126l1700287') Adopt Puppies in Vancouver
                      a.d-block(href='https://www.forallanimals.org/') For All Animals
        .row
          .col-sm
                .card.bg-light.mb-3(style='max-width: 18rem;')
                  .card-header Pets Clinics
                  .card-body
                    p.card-text
                      a.d-block(href='https://spca.bc.ca/locations/vancouver/') BCSPCA
                      a.d-block(href='https://www.kijiji.ca/b-dogs-puppies/vancouver/c126l1700287') Adopt Puppies in Vancouver
                      a.d-block(href='https://www.forallanimals.org/') For All Animals
 

                   

        
                


                
  
